{
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "parser": "typescript-eslint-parser",
    "env": {
      "es6": true,
      "node": true,
      "mocha": true
    },
    "extends": "eslint:recommended",
    "rules": {
      "indent": ["warn", 2],
      "semi": "off",
      "no-unused-vars": "warn"
    }
}
